/*
 aplsimple's color scheme
 for syntax highlighting by
 https://highlightjs.org
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: f9f9f9;
  color: black;
}

.hljs-subst {
  color: black;
}

.hljs-comment {
  color: #555555;
  font-style: italic;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  color: #000000;
  font-weight: bold;
}

.hljs-string {
  color: #15539E;
}

.hljs-type,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #000000;
}

.hljs-title,
.hljs-section {
  color: #15539E;
}

.hljs-title {
  font-weight: bold;
}

.hljs-title>.hljs-built_in {
  color: #008080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #5e1700;
}

.hljs-built_in,
.hljs-literal {
  color: #000080;
  font-weight: bold;
}

.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #397300;
}

.hljs-class  {
  color: #6f1C00;
  font-weight: bold;
}

.hljs-meta {
  color: #1f7199;
}

.hljs-meta-string {
  color: #4d99bf;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-attribute,
.hljs-number,
.hljs-regexp,
.hljs-link {
  font-weight: bold;
  color: #15539E;
}

.hljs-number,
.hljs-regexp,
.hljs-link {
  font-weight: normal;
}
